

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  box-sizing: border-box;
  background: linear-gradient(
    135deg,
    #383431 0%,
    #2e2a28 33%,
    #272321 66%,
    #1b1818 100%
  );
  background-attachment: fixed;
}

header {
  padding-top: 50px;
  background-image: linear-gradient(
      to right,
      rgba(34, 34, 34, 0) 10%,
      rgba(34, 34, 34, 0.8) 50%,
      rgba(34, 34, 34, 0) 80%
    ),
    url(https://baldursgate3.game/jpg/buy-now-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(45deg, #d4b56a, #8c6b2a, #f5e6b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

h2 {
  font-family: "Girassol", serif;
  color: #B4b2b0;
  text-shadow: #1b1818;
  text-transform: uppercase;
}

h3 {
  font-family: "Girassol", serif;
  color: #B4b2b0;
  padding-left: 20px;
}

p {
  text-align: justify;
  color: #B4b2b0;
}

#nav-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #222;
  border-radius: 0;
  display: flex;
  text-align: center;
  align-items: center;
  padding: 0.5rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  z-index: 1000;
  font-size: 0.8rem;
  justify-content: center;
}

#nav-menu a {
  display: block;
  padding: 1rem 2rem;
  text-decoration: none;
  color: #d4b56a;
  text-decoration: none;
  margin: 0 1rem;
  font-weight: 600;
  transition: color 0.3s ease;
  border-bottom: 3px solid transparent;
}

#nav-menu ul {
  list-style: none;
  margin: 0;
  padding: 0rem;
  display: flex;
  justify-content: center;
}

#nav-menu li {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 80px;
}

.sub-header {
  font-family: "Girassol", serif;
  font-size: 0.75rem;
  color: #d4b56a;
  text-align: center;
  padding: 0%;
  margin: 0%;
}

.h2-other {
  font-family: "Cinzel Decorative", serif;
  font-size: 2rem;
  color: #d4b56a;
  text-align: center;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}

* {
  box-sizing: border-box;
}
.mi-caja {
  width: 300px;
  padding: 20px;
  border: 5px solid red;
  margin: 10px;
}

ul ul {
  list-style-type: circle;
}

nav a {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-transform: uppercase;
}

/* ---TABLAS---*/

.mi-tabla {
  border-collapse: collapse;
  width: 100%;
}

.mi-tabla th,
.mi-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: middle;
}

/* ---LISTAS---*/
ul li{
  color: #B4b2b0;
}