body {
  font-family: Arial, sans-serif;
  background-color: rgb(27, 27, 27)
}
p {
  color: whitesmoke;
}
.texto-verde {
  color: green;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  background-color: white;
  box-shadow: 0 2px 5px rgba (0, 0, 0, 0.1);
  z-index: 100;
}
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 80px;
}
.parrafo-justificado {
  text-align: justify;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
* {
  box-sizing: border-box;
}
.mi-caja {
  width: 300px;
  padding: 20px;
  border: 5px solid red;
  margin: 10px;
}
.hero section {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
}
ul ul {
  list-style-type: circle;
}
.mi-tabla {
  border-collapse: collapse;
  width: 100%;
}
.mi-tabla th,
.mi-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: middle;
}
