body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 17px;
  background: url(https://baldursgate3.game/jpg/buy-now-background.jpg) no-repeat fixed center center / cover;
  image-rendering: pixelated;
}
p {
  color: whitesmoke;
}
h1 {
  font-family: 'Cinzel Decorative', serif;
  font-size: 4rem;
  font-weight: 700;
  background: linear-gradient(45deg, #d4b56a, #8c6b2a, #f5e6b0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 6px rgba(0,0,0,0.6);
}
.texto-verde {
  color: green;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100;
  background-color: white;
  box-shadow: 0 2px 5px rgba (0, 0, 0, 0.1);
  z-index: 100;
}
main {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 20px;
  padding-top: 80px;
}
.parrafo-justificado {
  text-align: justify;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
* {
  box-sizing: border-box;
}
.mi-caja {
  width: 300px;
  padding: 20px;
  border: 5px solid red;
  margin: 10px;
}
.hero section {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 400px;
}
ul ul {
  list-style-type: circle;
}
.mi-tabla {
  border-collapse: collapse;
  width: 100%;
}
.mi-tabla th,
.mi-tabla td {
  border: 1px solid #ccc;
  padding: 8px;
  vertical-align: middle;
}
